#list-page-header {
  height: 100px;
  background-image: linear-gradient(gray, black);
  font-weight: 700;
  font-size: 1.7em;
  font-family: 'Poller One';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}