.search-input-group {
  display: flex;
  align-items: center;
  background-color: white;
  .search-input {
    border: none !important;
    outline: none !important;
    padding: 10px;
    width: 100%;
  }
  i {
    margin-left: 10px;
    color: #d3d3d3;
  }
}